<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Simpleblog", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Posts",   root_path %></li>
        <li><%= link_to "Articles",   '/articles' %></li>
      </ul>
    </nav>
  </div>
</header>

